@page "/home"
@page "/"
<h1>ahmed</h1>
@code {
    [Inject]
    public IJSRuntime navjs { get; set; }
    protected override async void OnAfterRender(bool firstRender)
    {
        await navjs.InvokeVoidAsync("shownave");
    }
}
